<div class="bar">
  <section class="top-bar">
    <a href="signup" class="options">Account</a>
    <a href="login" class="options">Logout</a>
    <a href="/" class="options home" style>Home</a>
    <a href="map" class="options home" style>View map</a>
  </section>
</div>
<div class="filler"></div>
<div class="building-menu">
  <% buildingList.forEach(building => { %>
    <a href="/buildings/<%= building %>" class="building-text"><%= building %></a>
  <% }) %>
</div>
<div class="map-container">
  <% rooms.forEach(room => { %>
    <% let colour %>
    <% if (room.freeChairs >= 20) colour = "green" %>
    <% if (room.freeChairs < 20) colour = "amber" %>
    <% if (room.freeChairs < 10) colour = "red" %>
    <a href="/room/<%= room.id %>">
      <div class="room-button" data-id="<%= room.roomId %>">
        <div class="room-container <%= colour %>">
          <p class="room"><%= room.roomName %></p>
          <p class="capacity">Free chairs: <%= room.freeChairs %></p>
        </div>
      </div>
    </a>
  <% })%>
</div>
<div class="room-overlay">
  <div class="close-room">
    <i class="fas fa-window-close alter"></i>
  </div>
  <div class="chair-container"></div>
</div>
