<script src="booking.js"></script>
<div class="bar">
  <section class="top-bar">
    <a href="signup.html" class="options">Account</a>
    <a href="login.html" class="options">Logout</a>
    <a href="index.html" class="options home" style>Home</a>
    <a href="buildings.html" class="options home" style>View map</a>

    <a href="rooms.html" class="options home" style>View rooms</a>
  </section>
</div>
<div class="filler"></div>
<div class="building-menu">
  <% buildingList.forEach(building => { %>
  <a href="/buildings/<%= building %>" class="building-text"><%= building %></a>
  <% }) %>
</div>
<div class="map-container">
  <div class="chair-container">
    <% j = 0 %>
    <% for(i = 0; i < room.tables; i++) { %>
    <article class="table-group">
      <div class="chair-group">
        <a href="/book/<%= room._id %>/<%= j %>">
          <div data-target="#confirm" class="chair book book_hover <%= room.chairs[j].state %>" data-id=<%= j %>>
            <%= j %>
          </div>
        </a>
        <% j++ %>
        <a href="/book/<%= room._id %>/<%= j %>">
          <div data-target="#confirm" class="chair bottom book book_hover <%= room.chairs[j].state %>" data-id=<%= j %>>
            <%= j %>
          </div>
        </a>
        <% j++ %>
      </div>
      <div class="table"></div>
      <div class="chair-group">
        <a href="/book/<%= room._id %>/<%= j %>">
          <div data-target="#confirm" class="chair book book_hover <%= room.chairs[j].state %>" data-id=<%= j %>>
            <%= j %>
          </div>
        </a>
        <% j++ %>
        <a href="/book/<%= room._id %>/<%= j %>">
          <div data-target="#confirm" class="chair bottom book book_hover <%= room.chairs[j].state %>" data-id=<%= j %>>
            <%= j %>
          </div>
        </a>
        <% j++ %>
      </div>
    </article>
    <% } %>


  </div>
  <div class="modal" id="modal">
    <div class="modal-head">

      <button data-close-button="close" class="close-button">x</button>
    </div>
    <div class="modal-body">
      You will have ten minutes to reach your desk. If you do not reach the desk in time, the booking will be
      canceled.
    </div>
    <button class="modal-button">Confirm</button>

  </div>
  <div id="overlay"></div>
</div>
</div>


<button data-open-button="#modal">Open</button>